.sidebar {
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  background-color: white;
  width: 77px;
  z-index: 200;
  top: 54px;
}

.sidebar-link:hover {
  background-color: rgb(190, 185, 185);
}

.sidebar-link {
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link img {
        height: 45px;
        width: 25px;
        margin-bottom: 5px;
}

.sidebar-link div {
        font-family: Roboto, Arial;
        font-size: 10px;
}